<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./loginglobal.css" />
    <link rel="stylesheet" href="./login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="img7-parent">
      <img class="img7-icon" alt="lock up image" src="./assets1/img7.png" />

      <div class="frame-child"></div>
      <p class="secure-access-to">
        Secure access to your intelligent surveillance dashboard.
      </p>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <h2 class="login">Login</h2>
        <div class="group-item"></div>
        <div class="group-inner"></div>
        <input class="user-id" placeholder="User Id" type="text" />

        <input class="password" placeholder="Password" type="password" />

        <button class="rectangle-group">
          <div class="rectangle-div"></div>
          <h3 class="login1">Login</h3>
        </button>
        <img class="vector-3-icon" alt="user" src="./assets1/vector-3.png" />

        <img class="vector-2-icon" alt="lock" src="./assets1/vector-2.png" />

        <p class="forgot-password">Forgot Password?</p>
        <p class="dont-have-an-container">
          <span>Don’t have an account? </span>
          <span class="register">Register</span>
        </p>
      </div>
      <button class="rectangle-container">
        <div class="group-child1"></div>
        <div class="group-child2"></div>
        <div class="group-child3"></div>
      </button>
    </div>
  </body>
</html>
