<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/page.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/page2.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="slide-169-1">
      <button class="rectangle-parent">
        <div class="group-child"></div>
        <div class="group-item"></div>
        <div class="group-inner"></div>
      </button>
      <footer class="rectangle-group">
        <div class="rectangle-div"></div>
        <div class="group-child1"></div>
      </footer>
      <div class="group-parent">
        <nav class="privacy-parent">
          <span class="privacy">Privacy</span>
          <span class="terms-of-use">Terms of use</span>
          <span class="contact-us">Contact us</span>
        </nav>
        <p class="all-rights-reserved">All rights reserved</p>
      </div>
      <h3 class="intelliwatch">IntelliWatch</h3>
      <div>
        <video id="vid"></video>
      </div>
      <button class="rectangle-container" id="id" autoplay>
        <div class="group-child2"></div>
        <div class="group-child3"></div>
        <div class="open-camera-parent" >
          <p class="open-camera">Open Camera</p>
          <img class="group-icon" alt="" src="{{ url_for('static', filename='./assets1/Group 21.png') }}" />
        </div>
      </button>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      let but = document.getElementById("but");
      let video = document.getElementById("vid");
      let mediaDevices = navigator.mediaDevices;
      vid.muted = true;
      but.addEventListener("click", () => {
  
        // Accessing the user camera and video.
        mediaDevices
          .getUserMedia({
            video: true,
            audio: true,
          })
          .then((stream) => {
            // Changing the source of video to current stream.
            video.srcObject = stream;
            video.addEventListener("loadedmetadata", () => {
              video.play();
            });
          })
          .catch(alert);
      });
    });
  </script>
</html>
